# Section 1
## Strings

*   Defining a string in python + dir
*   concatenation + zip + enumerate + repeat

A String can be created simply using the code below.

In [ ]:
myStr = 'this is a string in python'

a string, in intrinsincly an array of characters; hence, you may access each character in a string using the same syntax for lists...

In [ ]:
myChar = myStr[3]
print(myChar)

s

There is literally infinite potentiall in python for carrying out tasks using strings! as a example, strings can be concatenated together, looped over, repeated to created bigger strings and ...

In [ ]:
string1 = "Hello"
string2 = " World!"
string3 = string1 + string2

print(string3)

string4 = string3 + 5 * string3[-1]

#positive indexing : 0, 1, 2, ... 
#negative indexing : -1, -2, -3, ...

print(string4)

#slicing

string5 = string4[0:5]

print(string5)

#slicing : [startIndex: endIndex: stepSize]
string6 = string4[0:8:2]

print(string6)

#stepSize can be negative

Hello World!
Hello World!!!!!!
Hello
HloW

**A Case Study: Vigenere Cypher**

In [ ]:
message = "HITTHEMWHEREITHURTS"
key = "TASTYLEMONADETASTYL"

#message: A, Key: B -> A + B = B / 0 + 1 = 1
#message: V, Key: Z -> V + Z / 21 + 25 = 46 -> 46 % 26 = 20 -> U

#chr() : int -> char

print(chr(66))

#ord() : char -> int

print(ord('B'))

# '\\ , : \n'

newMessage = ""
for i,j in zip(key, message):
  tempNum = (ord(i) + ord(j) - 130)%26
  newMessage += chr(ord('A') + tempNum)

# for i in range(len(message)):
#   tempNum = (ord(message[i]) + ord(key[i]) - 130)%26

# A+= B -> A = A + B

print(newMessage)

oldMessage = ""
for i,j in zip(key, newMessage):
  temp = (-ord(i) + ord(j) + 26 - 130)%26
  oldMessage += chr(65 + temp)

# A, B -> C, D : C = ord(A), D = ord(B) 
# D - C : F
# if D - C < 0 : -> +26 % 26
# A + B + 26 ~ A + B 

# function : name(**args)

print(oldMessage)

B
66
AILMFPQIVRRHMMHMKRD
HITTHEMWHEREITHURTS

In [ ]:
help(str.index)

#dir 

#help

Help on method_descriptor:

index(...)
    S.index(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Raises ValueError when the substring is not found.

Python, includes many useful methods related to string for easier coding. among such methods, we shall mention:



*   capitalize
*   lower/upper
*   count
*   endswith
*   find
*   index
*   isalpha/isdigit
*   isupper/islower
*   replace
*   split

In [ ]:
#endswith != [-1]

print(myStr.capitalize())

# myStr = myStr.upper()

print(myStr.upper())

print(myStr)

print(myStr.count('in p')) # str.count(subStr, startIndex, endIndex)

print(myStr.endswith('thhon'))

print(myStr.find('string')) # str.find(subStr, startIndex, endIndex)

print(myStr.index('s',4)) # str.index(subStr, startIndex, endIndex)

print(myStr.isdigit())

print(myStr[3].islower())

print(myStr.replace('is', 'in'))

print(myStr.replace('i', 'F', 5)) #str.replace(old, new, occurrenceNumber)

print(myStr.split('s', 2)) #str.split(delimiter, maxOccurrence)

This is a string in python
THIS IS A STRING IN PYTHON
this is a string in python
1
False
10
6
False
True
thin in a string in python
thFs Fs a strFng Fn python
['thi', ' i', ' a string in python']

**Questions:**

*    polyndrome strings

In [ ]:
stop_repeating_dict={}
def isPalindrome(l):
    if (l == l[::-1]):
        return True 
    return False

def countCuts(s):
    if(s in stop_repeating_dict):
        return stop_repeating_dict[s]
    if(isPalindrome(s)):
        return 0
        
    cutCount = 10000
    for i in range (1,len(s)):
        c = 1 + countCuts(s[:i]) + countCuts(s[i:])
        if(c<cutCount):
            cutCount = c
        if(c==1):
            break
    stop_repeating_dict[s]=cutCount
    return cutCount

print(countCuts(input()))

ababbbabbababacddc
4

TestCase: 

ababbbabbababacddc


# Section 2
## Lists & Dictionary

Defining a list

In [ ]:
l2 = list()  #create
a = [10, 20, 30]   #create
print(a)
print(l2)

[10, 20, 30]
[]

In [ ]:
b = a * 10
c = [0] * 20
print(b)
# what if we  wanted to create [100,200,300] from [10,20,30]

[10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30]

In [ ]:
l = [1, 2, 3, 4, 5, 6]      # lists are zero-indexed in python.

print(l[0])                 # You can access to the elements with indices 0, 1, ..., n - 1
print(l[1])                 
print(l[5])

print(l[-1])                # you can use negative index to access the elements from the end.
print(l[-2])                # if you have a list with n elements, index [-a] is equal to [n - a] (0 <= a < n)
print(l[-6])

print(l[1:4])               # [a:b] means from index a to b (a inclusive, b exclusive)
print(l[:4])                # [:b] means from the beginning to index b (b exclusive)
print(l[1:])                # [a:] means from index a to the end (a inclusive)
print(l[-2:])              

print(l[1::2])              # [a:b:c] means from index a to b with step c
print(l[4:0:-1])            # you can use negative step

print(l[::-2])              # how to reverse the list?

1
2
6
6
5
1
[2, 3, 4]
[1, 2, 3, 4]
[2, 3, 4, 5, 6]
[5, 6]
[2, 4, 6]
[5, 4, 3, 2]
[6, 4, 2]

In [ ]:
# assignment
l1 = [1, 2, 10, 4]

l1[2] = 3                   # assign 3 to third-element of the list.

print(l1)

[1, 2, 3, 4]

methods for list

In [ ]:
#append
a = [1, 2, 3, 4]
a.append("3")
a.append(4)
a.append([1,2])
print(a)

[1, 2, 3, 4, '3', 4, [1, 2]]

In [ ]:
# sort()
a = [10, 23, 4, 56, 7, 89]
a.sort()
print(a)
a.sort(reverse=True)
print(a)

[4, 7, 10, 23, 56, 89]
[89, 56, 23, 10, 7, 4]

In [ ]:
# count()
a = [1, 2, 1, 3, 5, 1]
print(a.count(1))

3

In [ ]:
# sum
a = [1, 2, 3, 4, 5]
print(sum(a))

15

In [ ]:
# pop
stack = [1, 2, 3]
stack.append(4)
stack.append(5)
print(stack)
stack.pop()
print(stack)
stack.pop(0)
print(stack)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[2, 3, 4]

In [ ]:
# insert 
l = [1, 2, 3]
l.insert(1, 4)
print(l)

[1, 4, 2, 3]

In [ ]:
# inverse 
l = [1, 8 , 5 , 3]
l2 = l.sort()
l2 = sorted(l)
print(l2)
# sorted() reversed()

[1, 3, 5, 8]

In [ ]:
# extend
l1 = [1, 2, 3]
l2 = [2, 5, 6]

l1.extend(l2)               # extend: add all elements of a list to another list.
print(l1)

l1 = [1, 2, 3]
l2 = [2, 5, 6]

l3 = l1 + l2
print(l3)

[1, 2, 3, 2, 5, 6]
[1, 2, 3, 2, 5, 6]

In [ ]:
# remove
l1 = [1, 2, 1, 2, 1, 2]

l1.remove(2)                # remove: remove first element thats equal to the entry.

print(l1)

[1, 1, 2, 1, 2]

In [ ]:
# index
l1 = [1, 3, 5, 3, 3, 3, 3]

i = l1.index(3)             # index: find index of first element thats equal to the entry.

print(i)

1

In [ ]:
# in
l = [1, 2, 3]

print(1 in l)
print(not 4 in l)
print(4 not in l)

True
True
True

call by reference/value

In [ ]:
l1 = list(range(1, 4))  # l1 = [1, 2, 3]
l2 = l1

l2.append(4)  # l2 = [1, 2, 3, 4]

print(l2)
print(l1)

# how to fix this?

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
l1 = list(range(1, 4))  # l1 = [1, 2, 3]
l2 = l1[:]
l3 = l1.copy()
l2.append(4)  # l2 = [1, 2, 3, 4]
l3.append(5)  # l3 = [1, 2, 3, 5]
print(l3)
print(l2)
print(l1)

# is copy enough?

[1, 2, 3, 5]
[1, 2, 3, 4]
[1, 2, 3]

list of dimensions more than 1

In [ ]:
l = [[1, 2], [3, 4]]
l[0][0] = 5
print(l)
print(l[0])

[[5, 2], [3, 4]]
[5, 2]

In [ ]:
l = [[1, 2], [3, 4]]
l2 = l.copy()
x = l2[0]
x[0]= 5
print(l)

[[5, 2], [3, 4]]

list comprehension

In [ ]:
l = []
for i in range(10):
    l.append(i)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l = [i * 2 for i in range(10)]
print(l)

l2 = [i * 2 for i in l]
print(l2)

l = [j for j in range(10) if j % 3 == 0]
print(l)

l2 =[[i ** j for i in range(1, 5)] for j in range(1, 5)]
print(l2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 4, 8, 12, 16, 20, 24, 28, 32, 36]
[0, 3, 6, 9]
[[1, 2, 3, 4], [1, 4, 9, 16], [1, 8, 27, 64], [1, 16, 81, 256]]

tuple & set & range

In [ ]:
s = (1, 2, 3)                   # Tuple!
print(s[0])
#s[0] = 2                      # error! Tuples are IMMUTABLE!

a, b, c = (1, 2, 3)             # Unpacking
print(a, b, c)

a, b, *c = (1, 2, 3, 4)
print(a, b, c)

a, *b, c = (1, 2, 3, 4)
print(a, b, c)

1
1 2 3
1 2 [3, 4]
1 [2, 3] 4

In [ ]:

sgt = [2, 3, 1]
st = set(sgt)
st.add("a")
st.add("a")
st.add(4)
st.add(6)
st.add(4)

print(st)

# set vs list

{1, 2, 3, 4, 6, 'a'}

dictionary

In [ ]:
dict = {
    "amir": 10,
    "mehrshad": 20,
}
print(dict)

{'amir': 10, 'mehrshad': 20}

In [ ]:
d1 = {"amir": 1, 10: 2, 1.3: 3, (1, 2, 4): 4}

print(d1["amir"])
print(d1[(1, 2, 4)])
print(d1[1.3])
print(d1[10])

1
4
3
2

In [ ]:
d1 = {}

d1[98100000] = 20  # add to dictionary
d1[98100000] = 19
print(d1)

print(d1[98100000])  # get value by key

{98100000: 19}
19

In [ ]:
d1 = {"a": 19, "b": 20, "c": 30}

d1.pop("b")

print(d1)

{'a': 19, 'c': 30}

In [ ]:
del d1["c"]
print(d1)

{'a': 19}

In [ ]:
list(d1.items())

In [ ]:
d = {"a": 1, "b": 2, "c": 3, "d": 4, "e": 5, "f": 6, "g": 7, "h": 8}

print("a" in d)
print("a" in d.keys())  # equivalent to above

print(3 in d.values())

In [ ]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
dictionary = dict(zip(keys, values))
print(dictionary) # {'a': 1, 'b': 2, 'c': 3}

further studies on list/dict/tuple

Questions:
    
8 queen

In [ ]:
# 8 queens problem with 4*4 board naive approach

board = [[0 for i in range(4)] for i in range(4)]
print(board)

In [ ]:
def check(board):
    for i in range(4):
        for j in range(4):
            if board[i][j] == 1:
                for k in range(4):
                    if board[i][k] == 1 and k != j:
                        return False
                    if board[k][j] == 1 and k != i:
                        return False
                for k in range(4):
                    for l in range(4):
                        if (k + l == i + j or k - l == i - j) and board[k][l] == 1 and (k != i and l != j):
                            return False
    return True
def solve(board, row):
    if row == 4:
        if check(board):
            print(board)
            return True
        return False
    for i in range(4):
        board[row][i] = 1
        if solve(board, row + 1):
            return True
        board[row][i] = 0
    return False
solve(board, 0)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[0, 1, 0, 0], [0, 0, 0, 1], [1, 0, 0, 0], [0, 0, 1, 0]]

True

In [ ]:
# merge sort 
def mergeSort(l):
    if len(l) > 1:  
        c = len(l)//2  
        left_l = l[:c]
        right_l = l[c:]
        mergeSort(left_l)
        mergeSort(right_l)
        
        left_pointer = 0
        right_pointer = 0
        pointer = 0
# merge 
        while pointer < len(l):
            if (left_pointer < len(left_l) and right_pointer < len(right_l)):
                if left_l[left_pointer] < right_l[right_pointer]:
                    l[pointer] = left_l[left_pointer]
                    left_pointer +=1
                else:
                    l[pointer] = right_l[right_pointer]
                    right_pointer +=1
            elif (left_pointer < len(left_l) ) :
                l[pointer] = left_l[left_pointer]
                left_pointer += 1
            elif (right_pointer < len(right_l)) :
                l[pointer] = right_l[right_pointer]
                right_pointer += 1
            pointer += 1
l = [1,8,3,-1,5]
mergeSort(l)
print(l)

[-1, 1, 3, 5, 8]